<html ng-app="app">
	<head>
		<link src="style.min.css" rel="stylesheet">
	</head>
	<body ng-controller="providerController as controller">
		<form class="provider-form" ng-submit="controller.addNewProvider()">
			<label>Last Name</label>
			<input ng-model="controller.newProvider.last_name"></input>
			<label>First Name</label>
			<input ng-model="controller.newProvider.first_name"></input>
			<label>Email Address</label>
			<input ng-model="controller.newProvider.email_address"></input>
			<label>Specialty</label>
			<input ng-model="controller.newProvider.specialty"></input>
			<label>Practice Name</label>
			<input ng-model="controller.newProvider.practice_name"></input>
			<input type="submit"></input>
		</form>
		<div class="provider-list">
			<div ng-repeat="provider in controller.providers">
				<div class="check-container">
					<input type="checkbox">
				</div>
				<div class="info-container">
					{{provider.last_name}}
					{{provider.first_name}}
					{{provider.email_address}}
					{{provider.specialty}}
					{{provider.practice_name}}
				</div>
			</div>
			<button ng-click="controller.removeProviders()">Remove</button>
		</div>

		<!-- Load Angular -->
		<script src="js/angular.min.js"></script>

		<!-- Load App -->
		<script src="js/app.js"></script>

	</body>
</html>